@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Lato', sans-serif;
    /* font-size: 1vw; */
}

html{
    font-size: 62.5%;
}

header{
    position: fixed;
    width: 100%;
}

.logo{
    width: 6vw;
    padding: 0rem;
}

.navbar{
    background-color: #2874f0;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 0vh 12vw 0vh 12vw;
    color: white;
    height: 7vh;
}

.cl1 a{
    color: white;
    /* margin-left: 10px; */
}

.navbar a{
    color: white;
    text-decoration: none;
}

.plus{
    color: yellow;
}

footer{
    background-color: #2874f0;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    height: 4.1vh;
    font-size: 1.5rem;
}

/* .container{
    min-height: calc(100vh - 3rem - 9vh);
} */

.cl3 button{
    width: 7vw;
}

#search{
    width: 32vw;
    text-align: center;
    height: 5vh;
}

.cl2 span{
    background-color: white;
}

.cl2 i{
    color: #2874f0;
    /* margin: 0px 4px 0px 4px; */
    padding: 0rem .4rem 0rem .4rem;
}

.div1{
    display: grid;
    grid-template-columns: 11vw 11vw 11vw 11vw 11vw 11vw 11vw 11vw 11vw;
    justify-content: center;
    align-content: center;
    background-color: white;
    padding-top: 9vh;
}

.div1 img{
    width: 5vw;
}

.div1 a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    display: grid;
    justify-content: center;
    align-content: center;
}

.container{
    background-color: #f1f3f6;
    /* margin-top: 9vh; */
}

.div2{
    display: flex;
    justify-content: center;
    align-content: center;
}

.slider{
    width: 98.7%;
    /* height: 207px; */
    padding: 1.6rem 1rem .2rem 1rem;
 
}

.div3{
    /* background-color: white; */
    /* width: 98.7%; */
    /* height: 207px; */
    padding: 1.6rem 1rem 1.6rem 1rem;
}

.b1 h2{
    font-size: 2.2rem;
    line-height: 3.2rem;
    display: inline-block;
    font-weight: 500;
}

.b1 h3{
    font-size: 1.4rem;
    color: #b2b2b2;
    font-weight: 400;
  
}

.b1{
    background-color: white ; 
    padding: .4rem 0rem 1.1rem 2rem;
}

.b2 a{
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    display: grid;
    justify-content: center;
    align-content: center;
    margin-left: 3rem;
}


.b2{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    /* grid-template-columns: 11vw 11vw 11vw 11vw 11vw 11vw 11vw 11vw 11vw; */
    /* justify-content: center; */
    align-content: center;
    background-color: white;
    overflow-x: scroll;
    height: 30vh;
    grid-column-start: span;
}

.b2 img{
    width: 15vw;
}

.b2 p{
    text-align: center;
    margin-top: 1.2rem;
}

@media(max-width:998px){
    html{
        font-size: 55%;
    }
}

@media(max-width:768px){
    html{
        font-size: 45%;
    }
}

@media(max-width:438px){
    html{
        font-size: 35%;
    }
    .b2{

        height: 13vh;
    }
    footer{
       height: 1.1vh;
    }

    footer {
    /* height: 5.1vh;
    font-size: 1.5vw; */
    height: 4.1vh;
    font-size: 1.5rem;
    }
  
    #search {
    /* width: 32vw;
    height: 5vh; */
    width: 23vw;
    height: 3vh;
    }
    .logo {
    /* width: 6vw; */
    width: 9vw;
    }
    .cl3 button {
    /* width: 7vw; */
    width: 9vw;
    }
    * {
    font-size: 1.3rem;
    }

}

